*{ margin: 0;
    padding: 0;
}
body{
    background: url(meio-ambiente-fb.png);
    
}
.hed{
    
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(171, 207, 171);
    display: flex;
    align-items: center;
    font-size: 50px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 1px;
    justify-content: center;
}


.botao{
    font-size: 25px;
    font-family: cursive;
    color: rgb(228, 212, 245);
    display: flex;
    gap: 32px;
}

.nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
    page-break-after: auto;
margin-left: 450PX ;
margin-right: 20PX ;

}

.item-botao:hover{ 
background-color: rgb(169, 169, 179);    
border: none;
box-shadow: 4px 5px 4px rgb(220, 226, 240);
border-radius: 20px;
}

.roda{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    margin: 70px;
    margin-top: 400px;
    font-weight: 700;

}
